<div id="card">
    <div id="inside">
        <header>
            <div class="left">
                <div id ="name">My Monster</div>
            </div>
            <div class="right">
                <div id="hp">40 HP</div>
            </div>
        </header>
        <figure id="">
            <img src="" alt="Monster">
            <figcaption>A legendary creature</figcaption>
        </figure>
        <div id="capacties">
            <div class="main">
            <div class ="name">Geo Impact</div>
            <div class="damage">60</div>
            </div>
        </div>
        <div class="">hgfd</div>
    </div>
</div>
